<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Educational Platform{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <!-- header content -->
         {% block header %}
         {{ include('includes/header.html.twig') }}
         {% endblock %}
         <!-- header content -->
        {% block body %}{% endblock %}
        <!-- footer content -->
        {% block footer %}
        {{ include('includes/footer.html.twig') }}
        {% endblock %}
        <!-- footer content -->
        {% block javascripts %}
            {% javascripts 'bundles/app/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        {% endblock %}
    </body>
</html>
