<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Educational Platform{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <!-- header content -->
         {% block header %}
         {{ include('pages/menu/menuHeader.html.twig') }}
         {% endblock %}
         <!-- header content -->
        {% block body %}{% endblock %}
        <!-- footer content -->
        {% block footer %}
        {{ include('includes/footer.html.twig') }}
        {% endblock %}
        <!-- footer content -->
        {% block javascripts %}
      
            <script src="{{ asset('bundles/app/js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat@1.8.3/CometChat.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@cometchat-pro/liftoff@1.0.0-beta.4/liftoff.min.js"/>
        {% javascripts 'bundles/app/js/chat.js' filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
        
   //cometchat Liftoff
   var APP_ID = "5188c43b8f526f";
        Liftoff.init(APP_ID).then(
        ()=> {
            let chatView = document.getElementsByTagName("BODY")[0];
            let UID = "superhero2";
            let CID = "qualitechelper";
        
            let settings = new Liftoff.LiftoffSettingsBuilder(UID,"superhero2_4bcf8dafa18adede5e398e376a34cfceb72e55ed",chatView)
                            .setConversationID(CID)
                            .setConversationType(Liftoff.ConversationType.USER)
                            .build();
            Liftoff.launch(settings);
        }, 
        error => {
            console.log("Initialized failed with error: " + error);
        })</script>
        {% endblock %}
    </body>
</html>
